/*General Styles*/
html {
  scroll-behavior: smooth;
}
body{
	background-color: #F4F3F0;
	font-family: 'Livvic', sans-serif;
	color: #343E3D;
	margin: 0;
	padding: 0;
}
.section-title{
	text-align: center;
	padding: 40px 0 20px 0;
}
.section-title h2{
	font-size: 30px;
	font-weight: 600;
	margin: 0;
}
.nav{
	text-align: center;
	display: inline-block;
	width: 100%;
	height: auto;
	background-color: #FC7753;
	padding: 20px 0 20px 0;
}
.nav-link{
	display: inline-block;
	padding: 0 30px 0 30px;
	font-size: 20px;
	cursor:pointer;
}
.nav-link:hover{
	color:#F4F3F0;
}
.menu-link{
	display: none;
}
.nav a{
	text-decoration: none;
	color: #343E3D;

}
.nav a:hover{
	color:#F4F3F0;

}
.content{
	display:inline-block;
	padding: 30px 100px 50px 100px;
	height: auto;
	width: calc( 100% - 200px);

}
.hide{
	display: none;
}
.fade{
	color:#F4F3F0;
	font-style: italic;
}
/*Landing Page*/
.landing{
	height: calc(100vh - 65px);
	width: 100%;
}
.name-banner{
	background-color: #66D7D1;
	height: auto;
	width: 55%;
	text-align: center;
}
.name-banner h1{
	font-size: 60px;
	margin: 80px 40px 80px 40px;
	padding: 70px;
	font-weight: 400;
}
.circle{
	border-radius: 50%;
	height: 300px;
	width: 300px;
	background-color: #F5CB5C;
	position: absolute;
	bottom: 60px;
	right: 10%;
}
.circle img{
	border-radius: 50%;
	height: 250px;
	width:250px;
	position: relative;
    margin: 25px 25px 25px 25px;

}
/*About Section*/
.about{
	width: 100%;
	background-color:#E2E0E0;
	padding-bottom: 20px;
}

.about-rectangle{
	width:auto;
	height: auto;
	display:inline-block;
	background-color: #FC7753;
	padding: 0;
	vertical-align: top;
	text-align: center;
}
.about-rectangle img{
	height:auto;
	width:250px;
	position: relative;
	vertical-align: middle;
    margin: 25px 25px;
}
.about-text{
	display:inline-block;
	margin-left: 60px;
	width: calc(100% - 360px);
	vertical-align: top;
}
.about-text p{
	margin-top:0px;
	margin-bottom: 20px;
}
.blog-shout-out{
	font-size: 18px;
}
.blog-shout-out a{
	color:#FC7753;
	text-decoration: none;
	font-weight: 600;
}
/*Experience Section*/
.experience{
	width: 100%;
	padding-bottom:20px;
}
.history{
	margin-bottom: 20px;
}
.work-item{
	width: 100%;
	display: inline-block;
	padding: 30px 0;
}
.work-logo{
	width: 150px;
	height: auto;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.work-logo img{
	width: 100%;
	height: auto;
}
.work-date{
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}
.work-info{
	width: calc(100% - 210px);
	margin-left:60px;
	display: inline-block;
	vertical-align: top;
}
.article-links{
	margin-top: 5px;
	display: block;
	margin-left: 10px;
}
.experience-buttons a{
	text-decoration:none;
	text-align: center;
	color: #343E3D;
	font-size: 25px;
	width: 100%;
}
ul{
  list-style-type: square;
  margin: 5px 0 0 0;
}
li a{
	margin-left: 20px;

}
li{
	padding-top: 5px;
}
.work-desc a{
	text-decoration: none;
	color:#FC7753;
	font-weight: 600;
}
.work-desc a:hover{
	color:#66D7D1;
}
.work-title{
	font-weight: 600;
	font-size:20px;
	margin-bottom: 10px;
}
.connect-button{
	display:inline-block;
	width: calc(33% - 20px);
	background-color:#66D7D1;
	text-align: center;
	padding: 25px 0 25px 0;
}

/*Connect Section*/
.connect{
	width: 100%;
	background-color:#F5CB5C;
	text-align: center;
}
.left{
	margin-right: 30px;
}
.right{
	margin-left: 30px;
}
.connect-button:hover{
	background-color: #FC7753;
	color: #F4F3F0;
}
.connect a{
	text-decoration:none;
	color: #343E3D;
	font-weight: 600;
	width: 100%;
}
.connect a:hover{
	color:#FC7753;
}
/*Blog Styles*/
.blog-landing{
	height: calc(100vh - 65px);
	width: 100%;
}
/*New Posts Section*/
.newest-posts{
	background-color:#E2E0E0;
	padding-bottom: 55px;
	text-align: center;
	font-size: 20px;
}
.posts-grid{
	padding-top: 15px;
	display:inline-block;
	text-align: center;
	width: 100%;
}
.posts-row{
	display: inline-block;
	width: 50%;
}
.post-square{
	display:inline-block;
	height: 100px;
	width: calc(50% - 80px);
	margin: 20px;
	padding: 20px;
	padding-top: 70px;
	background-color:#F5CB5C; 
	vertical-align: middle;
	cursor: pointer;

}
.post-square:hover{
	background-color:#FC7753; 
	color:#F4F3F0;
}
.Voteology-square{
	padding-top: 50px;
	padding-bottom: 40px;
}
.all-button{
	text-align: center;
	width: calc(100% - 60px);
	height: auto;
	background-color:#66D7D1 ;
	padding: 30px 10px;
	margin: 20px;
	cursor: pointer;

}
.all-button:hover{
	background-color: #FC7753;
	color:#F4F3F0;
}
/*All Posts Section*/
.allposts {
	background-color:#F5CB5C; 
	height: auto;
}
.two-col{
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
.my-col{
	display: inline-block;
	margin-right: 40px;
	width: calc(50% - 40px);
	vertical-align: top;
}
.my-col li:hover{
	color:#FC7753;
	cursor:pointer;
}
/*Blog Content Section*/
.story{
	border-width: 5px;
	border-color: #FC7753;
	border-style: solid;
	padding: 0 20px 20px 20px;
	margin-top: 40px;

}
.blog-date{
	text-align: center;
	margin-top: -10px;
	margin-bottom: 20px;
}

.blog-content{
}
.blog-tags{
	margin-top: 10px;
	color:#66D7D1;
	font-weight: 600;
	display: inline-block;
}
.tag{
	display: inline-block;
	margin-right: 10px;
}
/*.tag:hover{
	cursor: pointer;
	color: #FC7753;
}*/
.circle p{
	text-align: center;
	margin: 85px 30px 0 30px;
	font-style: italic;

}
.circle-text{
	text-align: center;
	margin: 10px 20px;
	font-size: 25px;
	font-weight: 600;
}
.blog-landing .circle:hover{
	cursor: pointer;
	background-color: #E2E0E0;
}
.story a{
	text-decoration: none;
	color: #FC7753;
	font-weight: 600;
}
.story a:hover{
	color:#66D7D1;
}
.blog-images{
	display: inline-block;
	width: 100%;
}
.blog-images img{
	width: calc(50% - 12px);
	height: auto;
	margin-top: 20px;
}
.blog-images-3 img{
	width: calc(33% - 14px);
	height: auto;
	margin-top: 20px;
}
.blog-images-4 img{
	width: calc(25% - 18px);
	height: auto;
	margin-top: 20px;
}
.left-blog{
	margin-left: 0px;
	margin-right: 12px;
}
.mid-blog{
	margin-right: 12px;
	margin-left:12px;
}
.right-blog{
	margin-right: 0px;
	margin-left:12px;
}
/*GALLERY STYLES*/
/*CALENDAR STYLES*/
.calendar {
    text-align: center;
    margin-top: 30px;
    display: none;
}

.calendar-graph text.wday,
.calendar-graph text.month {
    font-size: 10px;
    fill: #aaa;
}

.contrib-legend {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    float: right;
}

.contrib-legend .legend {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.text-small {
    font-size: 12px;
    color: #767676;
}

.calendar-graph {
    padding: 5px 0 0;
    height: 126px;
    text-align: center;
}

.table-column{ 
	display: none; 
}

.contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: #333;
}

.calendar img.spinner {
    width: 70px;
    margin-top: 50px;
    min-height: 70px;
}

.monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
}

.monospace a {
    color: #1D75AB;
    text-decoration: none;
}

.contrib-footer {
    font-size: 11px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
}

.left.text-muted {
    float: left;
    margin-left: 9px;
    color: #767676;
}
.left.text-muted a {
    color: #4078c0;
    text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
    float: left;
}
#user-activity-overview{
    display:none;
}
/*Socials Styles*/
.socials{
	/*position: fixed;
	bottom: 0;
	display: inline-block;*/
	padding-top:20px;
	display: none;
}
.socials img{
	height: 45px;
	width: auto;
	display: inline-block;
	padding: 0 10px;
}
/*Media Queries*/
@media screen and (max-width: 1200px) {
	.Voteology-square{
		padding-top: 40px;
		padding-bottom: 50px;
	}
}

@media screen and (max-width: 1000px) {
	.name-banner p {
	    font-size: 50px;
	    margin: 50px 0 50px 0;
	}
	.name-banner h1 {
    	font-size: 50px;
    	padding: 50px;
	}	
	.circle {
	    height: 250px;
	    width: 250px;
	}
	.circle img{
		height: 200px;
		width:200px;
	}
	.circle-text{
		font-size: 20px;
	}
	.post-square{
		padding-top: 20px;
		padding-bottom: 20px;
		height:120px;
	}
	.post-square{
		padding-top: 40px;
		height: 90px;
	}
	.posts-row{
		display: block;
		width: 100%;
	}.my-col{
		display: block;
		margin-right: 0;
		width: 100%;
		vertical-align: top;
	}
	.circle p{
		margin-top: 70px;
	}
}
@media screen and (max-width: 800px) {
	.name-banner{
		width: 100%;
		top: 200px;
	}
	.name-banner p{
		padding: 40px;
	}
	.name-banner h1{
		padding: 40px;
		font-size: 45px;
	}
	.circle {
	   	text-align: center;
	   	display: block;
	   	position: static;
    	margin-left: calc(50% - .5 * 40vh);
    	height: 40vh;
    	width: 40vh;
	}
	.circle img{
		height:  34vh;
		width: 34vh;
		margin: 3vh;

	}
	.circle p {
    	padding: 8vh 6vh 0px 6vh;
    	font-size: 2.5vh;
    }
    .circle-text{
    	margin: 1vh 7vh 0 7vh;
    	font-size: 3vh;
    }
	.content {
	    display: inline-block;
	    padding: 30px 50px 50px 50px;
	    height: auto;
	    width: calc( 100% - 100px);
	}
	.about-rectangle{
		display: none;
	}
	.about-text{
		display: block;
		margin: 0;
		width: 100%;
	}
	.connect-button {
    	display: block;
    	width: 100%;
    	margin: 10px 0;
    }
    .left{
		margin-right: 15px;
	}
	.right{
		
	}
	.work-logo{
		display: block;
		width: 40%;
		margin-left: 30%;
		margin-bottom: 15px;
	}
	.work-info{
		display: block;
		width: 100%;
		margin-left: 0;
	}
	
}
@media screen and (max-width: 650px) {
	.Voteology-square{
		padding-top: 15px;
		padding-bottom: 45px;
	}
	
	.nav-link{
		font-size: 16px;
		padding: 3px 0;
	}
	.nav{
		padding: 15px 0;
	}
	.menu-link{
		display: block;

	}
	.home-link, .about-link, .exp-link, .con-link, .blog-link{
		display: none;
	}
}

@media screen and (max-width: 500px) {

	.name-banner p{
		margin: 0;
		margin-top: 40px;
		padding: 10px 0 10px 0;
		font-size: 26px;
	}
	.name-banner h1{
		padding: 30px;
		font-size: 35px;
		margin: 40px;
	}

	.section-title{
		font-size: 22px;
	}
	.work-date{
		font-size:16px;
	}
	.work-title{
		font-size:18px;
		text-align: center;
	}
	.connect-button{
		font-size:18px;
		display: block;
		width: 100%;
		margin:10px 0;
	}
	.posts-grid{
		font-size: 16px;
	}

	.landing {
    	height: calc(100vh - 195px);
    }
    .work-logo{
		display: block;
		width: 80%;
		margin-left: 10%;
	}
	.article-links a{
		margin: 0;
	}
	.article-links{
		margin-left: 0;
	}
	.content{
		padding: 20px 20px 20px 20px;
		width: calc( 100% - 40px);
	}
	.allposts{
		padding-bottom: 60px;
	}
	.connect{
		padding-bottom: 30px;
	}
	.section-title h2 {
		font-size: 22px;
	}

	.post-square{
		display: block;
		width: calc(100% - 80px);
		margin: 20px;
		height: 50px;
		padding-bottom: 20px;
		font-size: 15px;
	}
	.Voteology-square{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.story{ 
		margin-top: 0px;
		margin-bottom: 20px; 
	}
	.blog-images img{
		width: 100%;
		margin: 0;
		margin-top: 10px;
		display: block;
	}
	 .blog-images-3 img{
		width: 100%;
		margin: 0;
		margin-top: 10px;
		display: block;
	}
	 .blog-images-4 img{
		width: 100%;
		margin: 0;
		margin-top: 10px;
		display: block;
	}
}
@media screen and (min-width: 1300px){
	.circle{
		height: 400px;
		width: 400px;
		bottom: 10%;
		right: 10%;
	}
	.circle img{
		height: 320px;
		width:320px;
	    margin: 40px 40px 40px 40px;

	}
	.circle p{
		margin: 140px 60px 0px 60px;
    	font-size: 25px;
	}
	.circle-text{
		margin: 50px;
		margin-top: 20px;
		font-size: 40px;
	}
}
@media screen and (min-height: 1290px){
	.circle{
		height: 500px;
		width: 500px;
		bottom: 10%;
		right: 10%;
	}
	.circle img{
		height: 420px;
		width:420px;
	    margin: 40px 40px 40px 40px;

	}
	.circle p{
		margin: 140px 60px 0px 60px;
    	font-size: 25px;
	}
	.circle-text{
		margin: 50px;
		margin-top: 20px;
		font-size: 40px;
	}
}
